.container {

    margin: auto;
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.plans {
    max-width: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.plans button {
    padding: 10px 0px;
    border: none;
    text-decoration: none;
}